//CUSTOM PROPERTIES
     //Site Colors*/
    $mainColor:#fff;
    $footerColor:#24242C;
    $captionColor:#1F3E5A;
    $mainTextColor:#4C5862;
     //Site Fonts
    $mainFont: "Overpass", "Arial", sans-serif;
    $navFont:"Ubuntu", "Arial", sans-serif;
/*WEB FONTS RELATED*/
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ubuntu-v15-latin-regular.woff2") format("woff2"), 
         url("../fonts/ubuntu-v15-latin-regular.woff") format("woff"); 
  }
  @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/ubuntu-v15-latin-500.woff2") format("woff2"), 
         url("../fonts/ubuntu-v15-latin-500.woff") format("woff"); 
  }
  @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ubuntu-v15-latin-700.woff2") format("woff2"), 
         url("../fonts/ubuntu-v15-latin-700.woff") format("woff"); 
  }

  
@font-face {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/overpass-v5-latin-regular.woff2") format("woff2"), 
         url("../fonts/overpass-v5-latin-regular.woff") format("woff");
  }
  @font-face {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/overpass-v5-latin-600.woff2") format("woff2"), 
         url("../fonts/overpass-v5-latin-600.woff") format("woff");
  }

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    background-color: #f2f2f2;
    color: $mainTextColor;
}

/*Main Styles*/
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  
  .site-humburger{
      display: none;
      margin-left: auto;
      width: 32px;
      height: 23px;
      background: transparent url("../images/icon-hamburger.svg") no-repeat center center;
      border: none; outline: none;
      transition: 0.5s ease;
  }
  ul{
      list-style-type: none;
  }

  @mixin displayFlex {
      display: flex;
      align-items: center;
  }

  @mixin marginAuto() {
      margin-left: auto;
      margin-right: auto;
  }
/*  HEADER */
.site-header{
    padding: 60px 30px 150px;
    background-image:url("../images/bg-pattern-intro.svg"), linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    background-position: 23%;
    background-repeat: no-repeat;
    color: $mainColor;
    border-radius: 0 0 0 100px;
     &__nav{
         @include displayFlex;
         max-width: 1120px;
         margin: 0 auto;
         transition: 0.5s ease
 }
    &__hum{
        @include displayFlex;
    }
} 
.navigation-container{
    @include displayFlex;
    flex-grow: 1
}
// Links 
.site-header__lists{
    @include displayFlex;
    margin-right: auto;   
    list-style-type: none;
    &--item{
        position: relative;
        margin-left: 30px;
        ul{
            width: 168px;
            background-color: #fff;
            border-radius: 5px;
            padding: 24px;
            display: none;
            position: absolute;
            top: 27px;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover .header-link::after{
            transform: rotate(0.5turn);
        }
    }
    &--item:hover .ul-hover{
        display: inline-block;
    }
    
    .header-link{
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-family: $navFont;
        font-weight: bold;
        line-height: 18px;
        color: $mainColor;
        opacity:60%;

        &:hover{
            opacity: 100%;
            border-bottom: 2px solid $mainColor;   
        }
        &:active .ul-hover{
            display: inline-block;
        }
    }
    .header-link::after{
        content: "";
        margin: 2px 8px 0;
        background: url("../images/icon-arrow-light.svg") no-repeat;
        width: 10px;
        height: 8px;
        transition: 0.3s ease;
    }
   
}
.ul-hover a{    
    text-decoration: none;
    font-family: $navFont;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    color: #2D2E40;

    &:hover{
        font-weight: 700;
    }
}

// Buttons 
.header-buttons{
    @include displayFlex;
    button{
        font-family: $navFont;
        background-color: transparent;
        border: none;outline: none;
        color: $mainColor;
        opacity: 60%;
        font-weight: bold;
        white-space: nowrap;
        text-align: center;
        margin-left: 30px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border-radius: 28px;
        cursor: pointer;

        &:hover{
            color: #fff;
            opacity: 100%;
        }
    }
    .button-style{
        opacity: 100%;
        border: 1px solid #FFFFFF;
    }
    .button-active{
        background-color: #fff;
        color: #ff505c;
        transition: 00.3s ease;

        &:hover{
            background-color: #ff7b86;
            color: $mainColor;
            border-color: #ff7b86;
        }
    }
    .padding40{
        padding-left: 40px;
        padding-right: 40px;
    }
    .padding25{
        padding-left: 25px;
        padding-right: 25px;
        transition: 00.3s ease-in-out;

        &:hover{
            background-color: #fff;
            color:#ff7b86
        }
    }
}
.header-buttons:last-of-type{
    justify-content: center;
}

.site-header__container{
    text-align: center;
    margin-top: 100px;
    h2{
        font-weight: 600;
        font-size: 64px;
        line-height: 98px;
        letter-spacing: -1.92px;
        margin-bottom: 0px;
    }
    p{
        margin-top: 0;
        margin-bottom: 48px;
        font-weight: 300;
        font-size: 20px;
        line-height: 31px;
    }
}
/* MAIN CONTENT */
.main-content{
    padding: 70px 0px;
    max-width: 1440px;
    margin: 0 auto;
    background: url("../images/illustration-editor-desktop.svg") no-repeat 160% 15%,
                url("../images/illustration-laptop-desktop.svg") no-repeat -75% 90%;

    section{
        max-width: 1120px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .future-content{
        padding-top: 40px;
        padding-bottom: 200px;
    }
} 
.content-info{
    max-width: 540px;
    margin-bottom: 65px;

    &-right{
        margin-left: auto;
    }

    p{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
}
.caption{
    font-weight: 600;
    letter-spacing: -1.2px;
    color: #1F3E5A;
}
h3.caption{
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 90px;
}
h4.caption{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 16px;
}
// State Content 
#state-content{
    @include displayFlex;
    background-image: url("../images/bg-pattern-circles.svg"),linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
    background-repeat: no-repeat;
    background-position: -100% 100%;
    border-radius: 0px 100px;
    color: $mainColor;
    margin: 0;
    height: 400px;
    padding: 111px 30px;
    max-width: 1440px;

    img{
        margin-left: auto;
        margin-right: 100px;
    }
    h4.state-caption{
        font-weight: 600;
        font-size: 40px;
        line-height: 61px;
        letter-spacing: -1.2px;
        margin-bottom: 0;
    }
    p{
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
}

// Art 
.art-content{
    padding: 185px 0;
}
/*FOOTER*/
.site-footer{
    padding: 70px 30px;
    background-color: $footerColor;
    border-radius: 0 100px 0 0;

    &-container{
         display: flex;
         align-items: stretch;
         max-width: 1120px;
         margin: 0 auto;

         ul{
             margin:0 auto;
         }
         li:first-of-type{
            font-family: $navFont;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 33px;  
            color: #FFFFFF;
         }
         a{
            font-family: $navFont;
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 33px;
            color: #FFFFFF;
            opacity: 0.75;

            &:hover{
                text-decoration: underline;
            }
         }
    }
}

/* RESPONSIVE */
@media (max-width: 1125px) {
    .main-content{
        background: url("../images/illustration-editor-desktop.svg") no-repeat 500px 15%,
                    url("../images/illustration-laptop-desktop.svg") no-repeat -600px 90%;
    }
}

@media (max-width: 940px) {
    .site-header__nav{
        display: inline;
    }
    .nav-off{
        display: none;
    }
    .navigation-container{
        position: fixed;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        max-width: 900px;
        margin: 0 auto;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
        border-radius: 5px;
        min-height: 65px;

        .header-link{
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #1F3E5A;
            opacity: 0.75;
            &:hover{
                opacity: 1;
            }
            &::after{
                background: url("../images/icon-arrow-dark.svg") no-repeat;
            }
        }
    }
    .header-buttons{ 
     .log{
        color:#1F3E5A;
        opacity: 0.75;
        &:hover{
            color: #1F3E5A;
            opacity: 1;
        }
    }
    .padding40{
        background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
        color: #fff;
    }
}
    .site-humburger{
        display: inline-block;
    }
    .hum-on{
        background-image: url("../images/icon-close.svg");
    }
}
@media (max-width: 920px) {
   #state-content{
       padding: 0;
       flex-direction: column;
       height: auto;
       background-position: center center;
       img,div{
           position: relative;
           bottom: 200px;
           margin:0;
       }
       img{
           width: 328px;
       }
   }
}
@media (max-width: 700px) {
    .main-content{
        text-align: center;
        background: url("../images/illustration-editor-desktop.svg") no-repeat center 8%,
        url("../images/illustration-laptop-desktop.svg") no-repeat center 78%;
        background-size: 326px;
    }
    .art-content{
        position: relative;
        top: 150px;
    }
    .navigation-container{
        z-index: 99;
        flex-direction: column;
        width: 324px;
        .site-header__lists{
            flex-direction: column;
            padding-left: 0;
            margin: 0;

            li{
                @include displayFlex;
                flex-direction: column;
                margin-left: 0;
                margin-top: 24px;
                position: relative;
                .ul-hover{
                    width: 276px;
                    position: relative;
                    top: 24px;
                    left: 50%;
                    background: rgba(45, 46, 64, 0.08);

                    a{
                        color: rgba(31, 62, 90, 0.75);
                    }
                }
            }
        }
        .header-buttons{
            flex-direction: column;
            text-align: center;
            margin-top: 24px;

            button{
                margin: 24px 0;
            }
            .padding40{
                margin-top: 0;
            }
        }
    }
    .site-header__container{
        h2{
            font-size: 36px;
            line-height: 55px;
        }
        p{
            font-size: 18px;
            line-height: 28px;
        }
    }
    .content-info{
        @include marginAuto();
    }
    h3.caption{
        font-size: 28px;
        line-height: 43px;
        margin-bottom: 400px;
    }
    h4.caption{
        font-size: 28px;
        line-height: 32px;
    }
 }
@media (max-width: 550px){
  .site-footer-container{
      .footer-logo{
          text-align: center;
          margin-bottom: 70px;
      }
      flex-direction: column;
      justify-content: center;
      ul{
          padding: 0;
          margin-bottom: 40px;
          text-align: center;

          .footer-caption{
              margin-bottom: 21px;
          }
      }
  }  
} 